* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.links a {
    font-size: 30px;
    text-decoration: none;
    color: #0047FF;
}
